@import "https://use.typekit.net/ckm2djo.css";
@import "http://fonts.cdnfonts.com/css/bahnschrift";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;


}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding-bottom: 105px;
    min-height: 100vh;
    padding-top: 30px;

}
:root {
    --orange: #C93F08;
    --darkgrey: #2F2D2E;
    --blue: #71ade0;
    --lightblue: #e7f9f9;
    --green: #26867B;

    --headline-size: 26px;
    --subline-size: 18px;
    --title-size: 16px;
    --paragraph-size: 14px;
    --infotext-size: 10px;

    --headline-font: bahnschrift, sans-serif;
    --text-font: allotrope, sans-serif;
}

h1 {
    font-size: var(--headline-size);
    font-family: var(--text-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--orange);
}

h2 {
    font-size: var(--subline-size);
    font-family: var(--text-font);
    font-weight: 500;
}

h3 {
    font-size: var(--title-size);
    font-family: var(--text-font);
    font-weight: 500;
}

p,
label {
    font-size: var(--paragraph-size);
    font-family: var(--headline-font);
    font-weight: 300;
}

a {
    font-size: var(--paragraph-size);
    font-family: var(--headline-font);
    font-weight: 500;
    color: var(--orange);
}

a:hover {
    color: var(--darkgrey);
    text-decoration: underline;
}

figure {
    font-size: var(--infotext-size);
    font-family: var(--headline-font);
    font-weight: 300;
    font-stretch: condensed;
    color: var(--darkgrey);
    padding: 0 25px;
    text-align: center;
}

.logo-header {
    width: 5%;
}

button {
    border-width: 0;
    font-size: var(--paragraph-size);
    font-family: var(--headline-font);
    font-weight: 500;

}

.button-10 {
    height: 44px;
    background: var(--darkgrey);
    font-size: var(--title-size);
    padding: 0 40px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s linear;

}

.button-10:hover {

    background: transparent;
    box-shadow: inset 0px 0px 0px 2px var(--darkgrey);
    text-decoration: none;
}

.ver-align {
    margin: 50% 0;
}

#logo-header {
    top: 10px;
}

#logo-header img {
    width: 60%;
    margin: auto;
    display: block;
}

input,
textarea {
    margin: 10px 0;
    width: 340px;
    border: 1px solid #d2d2d2;
    padding: 10px;
    border-radius: 5px;
    background: #d5d5d5;
    font-family: var(--text-font);
    font-weight: 700;
}

// #date-input,
// #date-input-2 {
//     border: none;
//     padding: 10px;
//     background: white;
//     box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
// }

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.space-top {
    margin-top: 30px;
}

.space-bottom {
    margin-bottom: 30px;
}


//   Toggle Buttons

.content {
    cursor: pointer;
}

.content .toggle {
    --size: 60px;
    width: var(--size);
    height: calc(var(--size) / 2);
    position: relative;
    background: #fff;
    border-radius: var(--size);
}

.content .toggle .btn {
    width: calc(var(--size) / 2);
    height: 100%;
    position: absolute;
    left: 0;
    background: #bbb;
    border-radius: 50%;
    transition: all ease 0.5s;
}

.content input:checked+.toggle .btn {
    left: 50%;
    background: var(--orange);
}

.content input:disabled+.toggle {
    background: #ddd;
}

.content p {
    margin: 8px 0;
    font-size: var(--paragraph-size);
    color: var(--darkgrey);
}

#zusage-toggle {
    display: flex;
    margin: 10px 30px;
    padding: 10px 30px;
    align-items: center;
}

#zusage-toggle label {
    width: fit-content;
}

#zusage-toggle p {
    text-align: left;
    padding-left: 20px;
}

.mitbringliste li {
    font-weight: 700;
    font-family: var(--text-font);
    font-size: var(--paragraph-size);
    text-align: left;
    list-style: none;
    // padding: 16px 0;
    border-bottom: var(--darkgrey) 1px solid;
    display: flex;
    justify-content: space-between;
    color: var(--orange);
    align-items: center;

}

.mitbringliste #dingsel-titel {
    width: 80%;
    padding: 10px;
}

.mitbringliste #delete-dingsel {
    width: 20%;
    text-align: center;
}

#delete-dingsel svg {
    width: 22px;
}

.mitbringliste ul,
li {
    width: 340px;
    margin: 0 auto;
    padding: 0;
}


.mitbringliste-input {
    display: flex;
    width: 340px;
    margin-top: 50px;
}

.mitbringliste-input input {
    width: 80%;
    margin: 0;
    background-color: #f1f1f1;
    border: solid #2F2D2E;
    border-width: 0 0 1px 0;
    border-radius: 0px;

}

.mitbringliste-input button {
    width: 20%;
    border: solid var(--darkgrey);
    border-width: 0 0 1px 0;
    background-color: transparent;
    margin: 0;
}

.mitbringliste-input svg {
    width: 22px;
    background-color: #f1f1f1;
    border: none;
    fill: var(--orange);
    transition: all ease-in-out 0.2s;
}

.mitbringliste-input svg:hover {
    fill: var(--darkgrey);
    width: 22px;
}

.preview-date {
    background: white;
    border-radius: 5px;
    padding: 15px 10px;
    width: 340px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.preview-date #date {
    background: var(--darkgrey);
    color: white;
    width: 60%;
    padding: 15px;
    margin: auto;
    font-size: var(--title-size);
    font-family: var(--text-font);
    font-weight: 700;
}

.preview-date #time {
    width: 60%;
    padding: 15px 15px 0px;
    margin: auto;
    font-size: var(--title-size);
    font-family: var(--text-font);
    font-weight: 700;
}

.preview-map {
    background-color: white;
    height: 200px;
    width: 300px;
    margin: 25px 0;
}

.preview-text {
    width: 340px;
    background: #d5d5d5;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}

.event-invite-buttons svg {
    width: 30%;
    fill: white;
    margin: auto;
}

.event-invite-buttons:hover svg {
    width: 32%;
    fill: var(--darkgrey);
}

.event-invite-buttons {
    display: flex;
    width: 340px;
}

.button-5 {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;

}

.invert-button {
    background: #f1f1f1;
    color: var(--darkgrey);
    box-shadow: inset 0px 0px 0px 2px var(--darkgrey);
    transition: all 0.2s linear;
}

.invert-button:hover {
    background: var(--darkgrey);
    color: #f1f1f1;
    box-shadow: inset 0px 0px 0px 2px var(--darkgrey);
    transition: all 0.2s linear;
}
.invert-button svg {
    fill: var(--darkgrey);
}

.invert-button:hover svg {
    fill: white;
}

.invite-deadline {
    display: flex;
    align-items: center;
    padding: 20px 50px 0px 50px;
}

.invite-deadline svg {
    width: 10%;
    fill: #bbb;
}

.invite-deadline p {
    text-align: left;
    padding-left: 20px;
    color: #bbb;
}

.invite-mitbringliste {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.invite-mitbringliste svg {
    width: 10%;
    fill: #bbb;
}

.invite-mitbringliste p {
    text-align: left;
    padding-left: 20px;
    color: #bbb;
}

.mitbring-ding {
    display: flex;
    width: 300px;
}

.mitbring-ding input {
    width: 10%;
    margin: 5px 15px 5px 5px;
}

.mitbring-ding li {
    width: 90%;
}

.mitbring-ding .zugeteilt input {
    width: 10%;
    margin: 5px 15px 5px 5px;
}

.zugeteilt li {
    width: 90%;
    text-decoration: line-through;
    color: #bbb;
}

.teilnehmer-zusage-alleine {
    display: flex;
    width: 300px;
    margin-top: 20px;
}

.teilnehmer-zusage-alleine input {
    width: 20px;
    margin: 0;
    height: 20px;
}

.teilnehmer-zusage-alleine label {
    width: 90%;
    text-align: left;
    padding-left: 20px;
}

.teilnehmer-zusage-gruppe {
    display: flex;
    width: 300px;
    margin-top: 20px;
}

.teilnehmer-zusage-gruppe input {
    width: 20px;
    margin: 0;
    height: 20px;

}

.teilnehmer-zusage-gruppe label {
    width: 90%;
    text-align: left;
    padding-left: 20px;
}

.teilnehmer-zusage-gruppe #teilnehmer-zahl {
    width: 50px;
    padding-right: 0;
    margin: 0 5px;
}

.dashboard-event-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
}

.dashboard-event-inner .dashboard-event-inner-name {
    width: 70%;
    background-color: white;
    text-align: left;
    padding-left: 20px;
    border-radius: 0 10px 10px 0;
}

.dashboard-event-outer {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    width: 300px;
}

.dashboard-event-wrapper {
    margin: 0;
    padding: 0;
}

.dashboard-event-inner-date {
    background-color: var(--darkgrey);
    color: white;
    width: 30%;
    position: relative;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.dashboard-event-inner-date p {
    margin: 0;
}

.dashboard-event-inner-name .dashboard-eventname {
    font-weight: bold;
    font-size: var(--subline-size);
    margin-bottom: 0px;
}

.dashboard-event-inner-name .dashboard-eventstartzeit {
    margin-top: 5px;
}

#tablist li {
    list-style: none;
    width: 50%;
    float: left;
    text-align: center;
    padding: 5px 16px;
    font-family: var(--headline-font);
    font-size: var(--subline-size);
    color: #919191;
}

#tablist li:hover {
    border: solid var(--darkgrey);
    border-width: 0 0 2px 0;
    color: var(--darkgrey);
}

.activ#tablist li {
    border: solid var(--darkgrey);
    border-width: 0 0 2px 0;
    color: var(--darkgrey);
}

#tablist {
    width: 100%;
    margin: 0;
    padding: 0;
}

#tabpanel {
    width: 220px;
}

.vc-container {
    width: 350px;
}


.profil-bearbeiten-inputs {
    width: 380px;
}

.header-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-items svg {
    width: 20px;
}

.header-items-2 {
    position: absolute;
    left: 40px;
    top: 15px;
}

.header-items-2 svg {
    width: 20px;
}

.teilnahmen-wrapper {
    text-align: left;
    width: 340px;
}

.teilnahmen-wrapper li {
    list-style: none;
    font-family: var(--headline-font);
    font-weight: 300;
}

.teilnahmen-wrapper ul {
    padding: 0;
}

.profile-wrapper {
    width: 340px;
}
.margin-auto {
    margin: auto;
}
.vc-time-picker {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: center;
}

/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
  
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 340px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  .mapwrapper {
    width: 340px;
    padding: 20px 0;
  
  }
  
  .mapwrapper input {
    width: 340px;
    margin: 15px 0;
  }
  
  .gmnoprint {
    display: none !important;
  }